FBMessengerBot.json
[{"id":"5d36a002.e7b1c","type":"tab","label":"Customer Care Bot","disabled":false,"info":""},{"id":"7842f600.808dcc","type":"http in","z":"5d36a002.e7b1c","name":"Messenger verification webhook","url":"/watsonbot","method":"get","upload":false,"swaggerDoc":"","x":156,"y":127,"wires":[["99576888.8aadf8","1315974a.fc3f19"]]},{"id":"ce5093d6.7b588","type":"http response","z":"5d36a002.e7b1c","name":"","x":594,"y":126,"wires":[]},{"id":"1315974a.fc3f19","type":"function","z":"5d36a002.e7b1c","name":"Get subscribe","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode']) \n{\n    mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token']) \n{\n    vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge']) \n{\n    challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n  'myverifytoken' == vtoken) {\n    msg.payload = challenge;\n}\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":126,"wires":[["ce5093d6.7b588"]]},{"id":"99576888.8aadf8","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":409,"y":74,"wires":[]},{"id":"6d098c8c.56f2c4","type":"http in","z":"5d36a002.e7b1c","name":"Messenger Chat Listener","url":"/watsonbot","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["e65edb98.7da728","84d0f8b1.475718"]]},{"id":"84d0f8b1.475718","type":"function","z":"5d36a002.e7b1c","name":"Look for messages","func":"if (msg.payload.object && 'page' == msg.payload.object) {\n    if (msg.payload.entry){\n        var entry = msg.payload.entry;\n        for (var i = 0; i < entry.length; i++) {\n            var pageID = entry[i].id;\n            var timeOfEvent = entry[i].time; \n            var messaging = entry[i].messaging\n            for (var j =0; j < messaging.length; j++) {\n                if (messaging[j].message) {\n                    msg.messagingEvent = messaging[j];\n                    node.send([msg,null,null]); \n                }\n                if (messaging[j].postback) {\n                    msg.postbackEvent = messaging[j];\n                    node.send([null,msg,null]);\n                }\n            }\n        }\n    }\n}\nreturn [null,null,msg];","outputs":3,"noerr":0,"x":401.5,"y":291,"wires":[["e67968b0.b58728","3c13e120.84190e","682ef8b8.79aa08"],["1c19b8f6.5e3797","eb074dca.57ffa"],["e3b09bfe.ef9138","3688253b.b417aa"]]},{"id":"e65edb98.7da728","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":388.5,"y":216,"wires":[]},{"id":"e67968b0.b58728","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"messagingEvent","targetType":"msg","x":780,"y":220,"wires":[]},{"id":"e3b09bfe.ef9138","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":290,"y":420,"wires":[]},{"id":"9e89790f.94dde8","type":"function","z":"5d36a002.e7b1c","name":"Facebook input message","func":"msg.fromMessenger = true;\nmsg.payload = msg.messagingEvent.message.text;\nmsg.user = msg.messagingEvent.sender.id;\nmsg.params = {};\nmsg.params.session_id = msg.messagingEvent.sender.id;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":780,"wires":[["cc623292.ca658"]]},{"id":"339eb29e.1b3eee","type":"link out","z":"5d36a002.e7b1c","name":"","links":["7d832eb6.ccb4e"],"x":875,"y":280,"wires":[]},{"id":"7d832eb6.ccb4e","type":"link in","z":"5d36a002.e7b1c","name":"Watson Bot Service","links":["339eb29e.1b3eee","67dba9ff.fe0b68"],"x":75,"y":780,"wires":[["fcdecc8.494703","9e89790f.94dde8"]]},{"id":"e3811f16.91ac","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":670,"y":840,"wires":[]},{"id":"5072b19d.912b5","type":"function","z":"5d36a002.e7b1c","name":"set payload","func":"//node.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\noutput = msg.payload.output.generic[0].text\n//node.warn(\"Cleaned output: \\n\" + output);\nmsg.facebookevent = msg.messagingEvent;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["3f37b061.6781e"]]},{"id":"3c13e120.84190e","type":"switch","z":"5d36a002.e7b1c","name":"","property":"messagingEvent.message.text","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":727,"y":280,"wires":[["339eb29e.1b3eee"]]},{"id":"fcdecc8.494703","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":254,"y":725,"wires":[]},{"id":"682ef8b8.79aa08","type":"switch","z":"5d36a002.e7b1c","name":"","property":"messagingEvent.message.attachments[0].type","propertyType":"msg","rules":[{"t":"eq","v":"image","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":728,"y":325,"wires":[["5c88a938.5b61d8"],[]]},{"id":"393df8be.848048","type":"comment","z":"5d36a002.e7b1c","name":"Facebook Webhook Registration","info":"","x":153,"y":46,"wires":[]},{"id":"fe6ec75e.fd70d8","type":"comment","z":"5d36a002.e7b1c","name":"Messenger Listener","info":"","x":130,"y":200,"wires":[]},{"id":"5c88a938.5b61d8","type":"link out","z":"5d36a002.e7b1c","name":"","links":["51caf3e7.07cedc"],"x":875,"y":318,"wires":[]},{"id":"51caf3e7.07cedc","type":"link in","z":"5d36a002.e7b1c","name":"Image Service","links":["5c88a938.5b61d8","3c5c4d33.7f1e8a"],"x":75,"y":1020,"wires":[["ad71d77f.2aac58"]]},{"id":"43d7229d.e726cc","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"true","x":411,"y":943,"wires":[]},{"id":"ad71d77f.2aac58","type":"function","z":"5d36a002.e7b1c","name":"set payload","func":"msg.payload = msg.messagingEvent.message.attachments[0].payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1020,"wires":[["43d7229d.e726cc","afc318b6.10f128"]]},{"id":"afc318b6.10f128","type":"visual-recognition-v3","z":"5d36a002.e7b1c","name":"","vr-service-endpoint":"https://api.eu-de.visual-recognition.watson.cloud.ibm.com/instances/5d4a6b19-6058-4f6c-986f-4068585e25ef","image-feature":"classifyImage","lang":"en","x":470,"y":1020,"wires":[["e935163d.5ffee8","af0f6593.71a558"]]},{"id":"e935163d.5ffee8","type":"function","z":"5d36a002.e7b1c","name":"get labels","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1020,"wires":[["e806bd5d.f91a6","13ea8626.9e713a"]]},{"id":"e806bd5d.f91a6","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":"false","complete":"payload","x":850,"y":940,"wires":[]},{"id":"13ea8626.9e713a","type":"function","z":"5d36a002.e7b1c","name":"set payload","func":"node.warn(\"VR output is:\\n\" + JSON.stringify(msg.payload))\n\noutput = \"Watson sees: \" + JSON.stringify(msg.payload);\nmsg.facebookevent = msg.messagingEvent;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1020,"wires":[["89386809.c74178"]]},{"id":"50741cef.330d64","type":"switch","z":"5d36a002.e7b1c","name":"","property":"payload.output.generic[0].text","propertyType":"msg","rules":[{"t":"eq","v":"Sensor_Temp","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":657.5,"y":718,"wires":[["f0b7a728.48c888"],["ad86ead6.330508","5072b19d.912b5"]]},{"id":"f0b7a728.48c888","type":"function","z":"5d36a002.e7b1c","name":"set payload for temperature","func":"node.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\nvar temp = global.get(\"Sensor_Temp\");\noutput = \"Current indoor temperature is: \" + temp;\nmsg.facebookevent = msg.messagingEvent;\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":680,"wires":[["3f37b061.6781e"]]},{"id":"1e4bb97d.f25a07","type":"comment","z":"5d36a002.e7b1c","name":"Send message to Watson and reply","info":"","x":180,"y":680,"wires":[]},{"id":"10147e0.f95c982","type":"comment","z":"5d36a002.e7b1c","name":"Send image to Watson VR","info":"","x":150,"y":920,"wires":[]},{"id":"3f37b061.6781e","type":"facebook-messenger-writer","z":"5d36a002.e7b1c","name":"","x":1180,"y":740,"wires":[[]]},{"id":"89386809.c74178","type":"facebook-messenger-writer","z":"5d36a002.e7b1c","name":"","x":1080,"y":1020,"wires":[[]]},{"id":"cc623292.ca658","type":"watson-assistant-v2","z":"5d36a002.e7b1c","name":"","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/30f5c609-bcb4-4ae0-9505-51e32f48ec27","assistant_id":"d62d9f53-2e80-4b57-8bbe-1073747c9ab7","debug":true,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":490,"y":780,"wires":[["e3811f16.91ac","50741cef.330d64"]]},{"id":"ad86ead6.330508","type":"debug","z":"5d36a002.e7b1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":800,"wires":[]},{"id":"d950cf83.f6293","type":"inject","z":"5d36a002.e7b1c","name":"","topic":"","payload":"{\"recipient\":{\"id\":\"1667077936706757\"},\"message\":{\"attachment\":{\"type\":\"template\",\"payload\":{\"template_type\":\"button\",\"text\":\"Welcome to Watson Customer Care Centre\",\"buttons\":[{\"type\":\"web_url\",\"url\":\"https://www.messenger.com\",\"title\":\"Appointment\"},{\"type\":\"web_url\",\"url\":\"https://www.messenger.com\",\"title\":\"Store Locations\"},{\"type\":\"web_url\",\"url\":\"https://www.messenger.com\",\"title\":\"Talk to Agent\"}]}}}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":1180,"wires":[["52f6a4b6.ce006c","d0b6147e.245e98"]]},{"id":"d0b6147e.245e98","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":310,"y":1240,"wires":[]},{"id":"52f6a4b6.ce006c","type":"http request","z":"5d36a002.e7b1c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAPQooGAZAWwBAO89xKG5Gz9xoZBiZATQXfzmXFEOlQ1j1fLX7C3dZA1FJ7edaxpA1XmpsD7pBiMylzo5iDMqKEHbeXPDi8JchXf2VT17NRxi1sbpaZCX7zDRPqOMiCCoRpLnSpeejVF2ZCvxZCjcHmCFfwDx7P4ZByvrbW3YSSzogZDZD","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1180,"wires":[["3c106b7d.652494"]]},{"id":"3c106b7d.652494","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":false,"complete":"false","x":700,"y":1200,"wires":[]},{"id":"1c19b8f6.5e3797","type":"switch","z":"5d36a002.e7b1c","name":"Get Started","property":"postbackEvent.postback.title","propertyType":"msg","rules":[{"t":"eq","v":"Get Started","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":420,"wires":[["f9a88016.8361c"]]},{"id":"aa9e16be.a5d3c8","type":"link in","z":"5d36a002.e7b1c","name":"Get Started","links":["f9a88016.8361c"],"x":75,"y":520,"wires":[["a5cde42c.a8ac08"]]},{"id":"f9a88016.8361c","type":"link out","z":"5d36a002.e7b1c","name":"","links":["aa9e16be.a5d3c8"],"x":915,"y":420,"wires":[]},{"id":"a5cde42c.a8ac08","type":"function","z":"5d36a002.e7b1c","name":"Get Started","func":"var recipient = msg.payload.entry[0].messaging[0].sender.id\nmsg.payload = {\n  \"recipient\": {\n    \"id\": \"1667077936706757\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"button\",\n        \"text\": \"Welcome to Watson Customer Care Centre\",\n        \"buttons\": [\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Appointment\"\n          },\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Store Locations\"\n          },\n          {\n            \"type\": \"web_url\",\n            \"url\": \"https://www.messenger.com\",\n            \"title\": \"Talk to Agent\"\n          }\n        ]\n      }\n    }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":520,"wires":[["c4ba84e7.6083e8"]]},{"id":"c4ba84e7.6083e8","type":"http request","z":"5d36a002.e7b1c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAPQooGAZAWwBAO89xKG5Gz9xoZBiZATQXfzmXFEOlQ1j1fLX7C3dZA1FJ7edaxpA1XmpsD7pBiMylzo5iDMqKEHbeXPDi8JchXf2VT17NRxi1sbpaZCX7zDRPqOMiCCoRpLnSpeejVF2ZCvxZCjcHmCFfwDx7P4ZByvrbW3YSSzogZDZD","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":520,"wires":[[]]},{"id":"3688253b.b417aa","type":"http response","z":"5d36a002.e7b1c","name":"","statusCode":"","headers":{},"x":510,"y":420,"wires":[]},{"id":"eb074dca.57ffa","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"postbackEvent","targetType":"msg","x":780,"y":380,"wires":[]},{"id":"1b0d2e13.ec4892","type":"comment","z":"5d36a002.e7b1c","name":"Send message to Facebook API","info":"","x":170,"y":1100,"wires":[]},{"id":"af0f6593.71a558","type":"debug","z":"5d36a002.e7b1c","name":"","active":true,"console":"false","complete":"payload","x":650,"y":940,"wires":[]}]